#wrapper{
    min-height: 100%;
}
#page-content-wrapper{
    /*padding-bottom: 125px;*/
    position: static;
    min-height: 100%;
}
.bottom{

        margin-top: 30px;
        padding: 12px;
        /*background:$negro;*/
        color:$gris-parrafo;
    } 
footer{
    width: 100%; 
    position: absolute;
    padding: 10px 0px 0px 200px;
    background: $negro-footer;
    margin-left: -200px;
    color: $color-footer;
    font-weight:400;
    font-size: .9em;
    line-height: 1.6em;
    &.ftr-btm{
        bottom: 0;
    }
    li{
        padding: 4px 0px;
    }
    a{
        color: $gris-parrafo;
        &:hover{
            color: $aqua;
        }//hover
    }//a
    h4{
        a{
            color: $gris-medio;
        }
    }
    .bottom{
        margin-top: 30px;
        padding: 12px;
        background:$negro;
        color:$gris-parrafo;
    }
    .logo{
        margin-bottom: 30px;
    }
    .social {
        img{
            margin: 6px;
            opacity: .4;
        }
        a:hover{
            img{
                opacity: 1;
            }
        }
    }//social
    @include bp-small{
        position: static;
        width: 100%; 
        padding: 10px;
        margin: auto;
        margin-bottom: 55px;
        line-height: 2em;
        *{
            text-align: center;
        }
        .logo{
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }    
    }//small
}//footer