@import "variables";
@import "mixins";
*{
   /*font-family: "Open Sans", sans-serif;*/
   font-family: 'Roboto', sans-serif;
    @include transition(all 0.4s ease);
    /*@media only screen and (device-width: 768px) {
      transition: none;
    }*/
}
html{
    /*-webkit-filter:grayscale(100%);
    filter:grayscale(100%);*/
        min-height: 100%;
    height: 100%;
    position: relative;
}
body{
    height: 100%;
    position: relative;
    background: #EFEFEF;
    /*overflow: hidden;*/
}
.bg-gris-medio {
	background: #ddd;
}
.c-bot {
    color: $botella-logo !important;
}
.c-lima{
    color: $lima-logo !important;
}
.c-error{
    color: $error !important;
}
.c-blue{
    color: $calif-a !important;
}
.c-danger{
    color: $danger !important;
}
.c-aqua {
	color: $aqua !important;
}
.hel{
   /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
}
.clearx {
	&:after{
        content: '';
        display: block; 
        clear: both;
    }
}
h1{
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    @include bp-med{
        font-size: 28px;
    }
}
h2{
    text-align: center;
    font-size: 24px;
    margin-bottom: 60px;
    @include bp-small{
            margin-bottom: 30px;
    }
}
h3{
    font-size: 20px;
    color: $gris-parrafo;
    margin-top: 0;
    margin-bottom: 20px;
}
ul{
    padding: 0px;
    li{
        list-style: none;
    }
}
p{
    color: $gris-parrafo;
    line-height: 180%;
}
a{
    color: $aqua;
    &:focus,&:hover,&:active,&:visited{
        text-decoration: none;
        
    }
    &:hover{
        color:$botella-hover;
    }
}
label{
    font-weight: normal;
    color: $gris-parrafo;
}
section{
    padding: 60px 0px;
    @include bp-small{
        padding: 30px 0px;
    }
}
video{
    width: 100%;
}
button:focus {outline:0;}
/*
<section> 
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

            </div><!--col-12-->
        </div><!--row-->
    </div><!--container-->
</section>
*/
.form-control{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.045);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.045); 
    &:focus {
        border-color: $lima-logo;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 1px 1px 3px rgba(0,0,0,.3);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px rgba(0,174,118,.2);
    }
}
.elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.no-mar-b {
	margin-bottom: 0 !important;
}
.btn{
    /*border: 0;*/
}
.btn-primary {
    background: $botella-logo;
    border-color: $botella-hover;
    &:hover,&:focus,&:active{
        background: $botella-hover;
    }
}
.btn-success {
    background: $lima-logo;
    border-color: $lima-hover;
    &:hover,&:focus,&:active{
        background: $lima-hover;
    }
}
.btn-aqua {
    color: #fff;
    background: $aqua;
    border-color: $botella-hover;
    &:hover,&:focus,&:active{
        background: $aqua-hover; 
        color: #fff;
    }
}
.btn-gris {
    color: #888;
    background: #d4d4d4;
    border:1px solid #aaa;
    &:hover,&:focus,&:active{
        background: #f4f4f4; 
    }
}
.btn-w {
    color: #888;
    background: #f8f8f8;
    border:1px solid #eee;
    &:hover,&:focus,&:active{
        background: #f4f4f4; 
        border-color: #ddd;
    }
}
.btn-normal {
    color: #444;
    background: #f4f4f4;
    border:1px solid #aaa;
    &:hover,&:focus,&:active{
        background: #ccc; 
    }
}
.btn-danger{
    background: #ff6154;
    &:hover,&:focus,&:active{
        background: #d84a3e;
    }
}
.btn-lg {
	padding: 9px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 4px;
}
.btn-line{
    color: $aqua;
    background: transparent;
    border: 1px solid $aqua;
    &:hover,&:focus,&:active{
        background: #f3f3f3;
        color: $aqua-hover;
        border-color:$aqua-hover; 
    }
}
.card{ 
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    &.cardtab{
        margin-bottom: 20px;
        /*padding-bottom: 0px;*/
    }
    h2{
        font-size: 1.1em;
        margin: -20px -20px 10px -20px;
        padding: 10px;
        background: #fafafa;
        font-weight: normal;
        color: #999;
        border-bottom: 1px solid #eee;
        text-align: left;
    }
}
.card-margin-lr{
    margin-left: -20px;
    margin-right: -20px;
}
.card-margin-tp{
    margin-top: -20px;
    margin-bottom: -20px;
}
.card-margin{
	margin: -20px;
}
/*.aside-card {
	@extend .card; 
}*/
.table-lc-tr{
    tr{
        td:last-child{
            text-align: right;
        }
    }
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.mt-30 {
    margin-top: 30px;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}



//
.row-ins {
        margin-left: -5px;
        margin-right: -5px;
    }
@media (min-width: 768px) 
{ 
    div[class^="col"]{padding-left:5px; padding-right:5px;}
    
}
@include bp-small{
    .row-ins {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{   
    .row-ins {
        margin-left: -10px;
        margin-right: -10px;
    }
    div[class^="col"]{padding-left:10px; padding-right:10px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{   
    .row-ins {
        margin-left: -10px;
        margin-right: -10px;
    }
    /*default so you don't need this*/
    div[class^="col"]{padding-left:10px; padding-right:10px;}
}

.container-fluid{
    padding: 20px;
    max-width: 1300px;
    margin: auto;
}
.hidden-element{
 display: none;
}
.no-trans{
    @include transition(none);
}