.solicitud .sxs-hide{
    @include sols-xs{
        display: none;
    }
}
.sxs{
    display: none;
   @include sols-xs{display: block;} 
}
.titulos{
    padding: 0px;
    margin: 0;
    max-width: 780px;
    @include max(1200px){
        margin: auto;
    }
    @include bp-small {
        max-width: 530px;
    }
    @include sols-xs{
        display: none;
    }
    li{
        margin: 0;
        padding: 14px;
        float: left;
        font-size: .8em;
        text-align: center;
        color: #767676;
        @include max(850px){
                font-size: .7em;
            }
        &.id{width: 62px;@include max(850px){width: 57px;}}
        &.user{width: 90px;@include max(850px){width: 67px;}}
        &.tasa{width: 69px;@include max(850px){width: 54px;}}
        &.calif{ width: 51px;}
        &.destino{ width: 110px;@include max(850px){width:88px;}}
        &.resta{ 
            width: 69px;
            @include max(920px){
                display: none; 
            }
        }
        &.plazo{max-width:46px; padding:14px 8px;@include max(850px){width: 57px;} }
        &.monto,&.faltan{ width: 73px;@include max(850px){width: 58px;}}
        &.faltan{
            @include min-max(1250px,1200px){
                display: none; 
            }
            @include bp-med {
                display: none; 
            }
        }
        &.prestar{width: 95px;}
    }
    &:after{
        content: '';
        display: block; 
        clear: both;
    }
}//solicitudes
.sols{
    @extend .container-fluid;
    .col-md-9{
        max-width: 780px;
        @include max(1200px){
         max-width: 100%;   
         width: 100%;   
        }
    }//9
    /*@include max(1200px){
        margin: auto;
        max-width: 900px;
    }*/
}

.sol{
    display: block;
}
.solicitud{
    position: relative;
    @extend .card;
    overflow:visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 780px;
    padding: 0px;
    margin: 0;
    &.yalep{
        background: #e9e9e9;
        >li a{
            border-right: 1px solid #ddd;
        }
        @include sols-xs{
            background: #fff;
        }
    }
    @include max(1200px){
        margin-left: auto;
        margin-right: auto;
    }
    @include bp-small {
        max-width: 530px;
    }
    @include sols-xs{
        overflow: hidden;
    }
    margin-bottom: 10px;
    > li{
        float: left;
        @include sols-xs{
            float: none;
        }
        &.sxs-top{
            background: #fff;
            @include sols-xs{
                background: #fafafa;
                border-bottom: 1px solid #eee;
                .user{
                    width: 120px;
                }
                .destino{
                    float: right;
                    margin-right: 10px;
                    width: auto;
                }
            }
        }
        &.sxs-mid{
            display: none;
                @include sols-xs{
                    display: block;
                }
            >ul{
                >li{
                    padding: 8px 0;
                    float: left;
                    width: 25%;
                    text-align: center;
                    font-size: 1.4em;
                    &.calif{border-left:5px solid transparent;}
                    &.calif-a{border-color:$calif-a;}
                    &.calif-b{border-color:$calif-b;}
                    &.calif-c{border-color:$calif-c;}
                    small{
                        display: block;
                        font-size: .6em;
                    }
                    @include bp-xsmall{
                        font-size: 1.2em;
                    }
                }
                &:after{
                    display: block;
                    content: '';
                    clear: both;
                }
            }
            .yap{display: none;}
        }//mid
        a{
            display: block;
            color: #767676;
            border-right: 1px solid #fff;
            > ul {
                >li{
                    margin: 0;
                    padding:10px 14px;
                    float: left;
                    font-size: .9em; 
                    line-height:1.7em;
                     @include max(850px){
                        font-size: .8em;
                         padding:10px 9px;
                    }
                    @include bp-small {
                            font-size: .9em;
                        }
                    &.id{
                        padding-left: 8px;
                        padding-right: 8px;
                        span{
                            background: $gris-claro;
                            padding:5px;
                            border-radius: 4px;
                        }//span
                    }
                    &.user{
                        font-size: .8em;
                        line-height:1.7em;
                        white-space: nowrap; 
                        width:8em; 
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        @include max(850px){
                            width: 6em;
                        }
                    }
                    &.plazo{
                        font-size: 16px;
                        padding: 8px 14px;
                        @extend .sxs-hide;
                    }
                    &.tasa{
                        @extend .sxs-hide;
                    }
                    &.monto{
                        @extend .sxs-hide;
                    }
                    &.calif{
                        line-height:normal;
                        padding: 7px 11px;
                        @include max(850px){
                            padding: 7px 12px;
                        }
                        @extend .sxs-hide;
                        span{
                            display: block;
                            padding:6px 6px;
                            border:1px solid $aqua;
                            color: $aqua;
                            border-radius: 100%;
                        }
                    }
                    &.calif-a{
                        span{
                            border-color:$calif-a;
                            color:$calif-a;
                        }
                    }
                    &.calif-b{
                        span{
                        border-color:$calif-b;
                        color:$calif-b;
                        }
                    }
                    &.calif-c{
                        span{
                        border-color:$calif-c;
                        color:$calif-c;
                        }
                    }
                    &.destino{
                        @include bp-small {
                            font-size: .8em;
                            padding:10px 2px
                        }
                    }
                    &.faltan{
                        @include min-max(1250px,1200px){
                            display: none; 
                        }
                        @include bp-med {
                            display: none; 
                        }
                        
                        @extend .sxs-hide;
                    }//faltan
                    &.resta{
                        @include max(920px){
                            display: none; 
                        }
                        
                        @extend .sxs-hide;
                    }
                }//>li
                @extend .clearx;
                
            }//ul
            &:hover{
                /*background: #e8efef;*/
                background: #f4fff8;
                border-right: 1px solid #dae0e0;
            }
        }//
        &.prestar{
            max-width: 200px;
            padding: 6px 10px;
            position: relative;
            @include transition(none)
            @extend .clearx;
            .form-control{
                padding: 4px 33px 4px 4px;
                margin: 0;
                height: 28px;
                max-height: 40px;
                max-width: 85px;
                position: relative;
                z-index: 66;
                &:focus {
                    border-color: $aqua;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,224,11,.075), 0 0 5px rgba(102,175,233,.6);
                    box-shadow: inset 0 1px 1px rgba(0,224,11,.075), 0 0 5px rgba(102,175,233,.6);
                }
                @include sols-xs{
                    width: 100px;
                    max-width:none;
                    float: left;
                    margin: 10px 4px;
                    height: 38px;
                }
            }
            .sxs-cta{
                float: right;
            }
            .btn{
                display: none;
                position: absolute;
                z-index: 100;
                top: 7px;
                right: 11px;
                height: 26px;
                width: 32px;
                background:$aqua url(../img/carrito.svg) no-repeat;
                background-size: 24px;
                background-position: center;
                border-top-left-radius: 0; 
                border-bottom-left-radius: 0; 
                -webkit-animation-duration: .5s;
                -moz-animation-duration: .5s;
                animation-duration: .5s;
                border-left: 1px solid $botella-logo;
                @include sols-xs{
                    position: relative;
                    /*background-image: none;*/
                    width: 40px;
                    margin: 3px;
                    padding: 10px;
                    height: 38px;
                    display: block !important;
                    color: #fff;
                }
                @include bp-xsmall{
                    white-space: normal;
                    line-height: 13px;
                    /*width: 80px;*/
                    font-size: 12px;
                    padding: 7px 4px 10px 4px;
                }
                &:hover{
                  background-color: $lima-logo;  
                }//hover
                .txt_car {
                    display: none;
                    @include sols-xs{
                        
                        display: block;
                    }
                }
            }//btn
            @include sols-xs{
                display: none;
                max-width: none;
                padding: 0;
            }
            .sxs-bar {
                @extend .sxs;
                color: $gris-parrafo;
	            width: 100%;
                padding: 12px 10px;
                background: #eee;
                font-size: 12px;
                position: relative;
                .por{ 
                    font-weight: 700;
                    margin-right: 10px;
                    
                }
                b{
                   font-weight: 500; 
                }
                .bg{
                    background:rgba(0,224,11,.3);
                    position: absolute;
                    width: 30%;
                    height: 40px;
                    top: 0;
                    left: 0;
                }
                span{
                    position: relative;
                    z-index: 8;
                }
            }
            .sxs-det{
                @extend .sxs;
                width: 80px;
                text-align: center;
                padding: 10px;
                background: $gris-claro;
                border-radius: 4px;
                margin: 10px;
                float: left;
                @include sols-xs{
                 padding: 7px;
                    width: auto;
                    font-size: 13px;
                }
            }.yap{ 
                display: none;
                font-size: 9px;
                padding: 3px 6px;
                border-radius: 3px;
                box-shadow: 0px 1px 12px rgba(0,0,0,.3);
                text-align: center;
                /*margin-top: -20px;
                color: #bbb;*/
                background: #fff;
                position: absolute;
                bottom: -16px;
                left: 50%;
                margin-left:-25px; 
                color: #999;
                z-index: 1234;
                white-space:nowrap;
            }
            .popover {
	         font-size: 12px;
            }
        }//prestar
        &.yap-pleca {
	            width: 0px;
                height: 0px;
                /*background: #bbb;*/
                position: absolute;
                top: 0px;
                right: 0px;
            border-left: 25px solid transparent;
            border-top: 20px solid #d6d6d6;
            border-top-left-radius: 4px;
            }
        &.porcentaje{
            width: 100%;
            background:#dedede;
            height: 4px;
            .barra{
                width: 40%;
                background:$lima-logo;
                height: 4px;
            }
        }
        &.sxs-trigger {
	        display: none;
            @include sols-xs{
                display: block;
            }
                background: #fafafa;
                border-top: 1px solid #eee;
                padding: 10px;
                text-align: center;
                color: #aaa;
        }
    }//>li
    &:after{
        content: '';
        display: block; 
        clear: both;
    }
    &:hover{
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
        
    }
    &.yalep{
        .sxs-mid{
            .yap{
                display: block;
                @include sols-xs{
                    display: block;
                    margin: auto;
                    border-radius: 0;
                    box-shadow: none;
                    font-size: 1em;
                    background: #e3feed;
                    text-align: center;
                    padding: 6px;
                    color: $botella-logo;
                }
            }
        }
    }
    &.yalep:hover{
        .prestar .yap{display: block;
        @include sols-xs{display: none;}
        }
    }
}//solicitudes
.message {
	@extend .card;
    background: #dedede;
    color: #999;
    font-weight: 300;
    letter-spacing: .03em;
    max-width: 780px;
    @include max(1200px){
        margin-left: auto;
        margin-right: auto;
    }
    @include bp-small {
        max-width: 530px;
    }
}
.pre-carrito{
    @extend .card;
    padding: 0;
    font-size: .9em;
    text-align: center;
        max-width: 340px;
    h2{ 
        font-size: 1.2em;   
        /*margin: -20px -20px 10px -20px;*/
        margin: auto;
        padding: 10px; 
        background: #fafafa;
        font-weight: normal;
        border-bottom: 1px solid #eee;
    }
    .table{ 
        margin: auto;
        margin-bottom: 10px;
        tr{
            border-color: #eee;
            &:first-child{
                td{
                    color: #aaa;
                    border: 0;
                }
            }
            td{
                color: #777;
                &:last-child{
                  padding:8px 0;  
                }
                &:first-child{
                    font-size: .9em;
                }
                b, strong{font-weight: 500;}
            }
            &.tot{
                td{
                   padding: 8px 8px; 
                    font-size: 16px;
                    b{
                        color: $aqua;
                        
                    }
                    /*background: #f4fff8;*/
                }
            }
            &:hover{
                .eliminar{
                    opacity: 1;
                }
            }
        }//tr
    }
    .eliminar{
        border: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/tacha.svg);
        opacity: .3;
        
    }
    .btns{
        padding: 0 10px 10px 10px;
        .btn-aqua {
	     padding-left:17px;
            padding-right: 17px;
        }
    }
}//precarrito

.filtros{
    @extend .clearx;
    padding: 0 0 20px 0px;
    border-bottom:1px solid #ddd;
    max-width: 780px;
        margin: auto;
    @include bp-small {
        max-width: 530px;
    }
    .fltrs {
        @extend .clearx;
    }
    .btn-gris{
        float: left;
        font-weight: 300;
        margin-right: 10px;
    }
    .form-control{
        background-color: #f4f4f4;
        padding: 9px 16px;
        height: 42px;
        max-width: 160px;
        float: left;
        margin-right: 10px;
        font-weight: 300;
    }
    @include sols-xs{
        padding:0; 
        .btn-gris , .form-control{
	        float: none;
            margin-bottom: 20px;
        }
        .form-control{
            max-width: 100%;
	        float: none;
            margin-bottom: 20px;
        }
        .fltrs .btn-gris{
            float: right;
        }
    } 
}
//<1250= quitar cuanto faltan y arreglar botones de mini carro
