.titulos{
    padding: 0px;
    margin: 0;
    max-width: 780px;
    @include max(1200px){
        margin: auto;
    }
    li{
        margin: 0;
        padding: 14px;
        float: left;
        font-size: .8em;
        text-align: center;
        color: #767676;
        @include max(850px){
                font-size: .7em;
            }
        &.id{width: 62px;@include max(850px){width: 57px;}}
        &.user{width: 90px;@include max(850px){width: 67px;}}
        &.tasa{width: 69px;@include max(850px){width: 54px;}}
        &.calif{ width: 51px;}
        &.destino{ width: 110px;@include max(850px){width:88px;}}
        &.resta{ 
            width: 69px;
            @include max(920px){
                display: none; 
            }
        }
        &.plazo{max-width:46px; padding:14px 8px;@include max(850px){width: 57px;} }
        &.monto,&.faltan{ width: 73px;@include max(850px){width: 58px;}}
        &.faltan{
            @include min-max(1250px,1200px){
                display: none; 
            }
            @include bp-med {
                display: none; 
            }
        }
        &.prestar{width: 95px;}
    }
    &:after{
        content: '';
        display: block; 
        clear: both;
    }
}//solicitudes
.sols{
    @extend .container-fluid;
    .col-md-9{
        max-width: 780px;
        @include max(1200px){
         max-width: 100%;   
         width: 100%;   
        }
    }//9
}

.sol{
    display: block;
}
.solicitud{
    @extend .card;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 780px;
    padding: 0px;
    margin: 0;
    @include max(1200px){
        margin-left: auto;
        margin-right: auto;
    }
    margin-bottom: 10px;
    > li{
        float: left;
        a{
            display: block;
            color: #767676;
            border-right: 1px solid #fff;
            > ul {
                >li{
                    margin: 0;
                    padding:10px 14px;
                    float: left;
                    font-size: .9em; 
                     @include max(850px){
                        font-size: .8em;
                         padding:10px 9px;
                    }
                    &.id{
                        padding-left: 8px;
                        padding-right: 8px;
                        span{
                            background: $gris-claro;
                            padding:5px;
                            border-radius: 4px;
                        }//span
                    }
                    &.user{
                        font-size: .8em;
                        line-height:1.7em;
                        white-space: nowrap; 
                        width:8em; 
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        @include max(850px){
                            width: 6em;
                        }
                    }
                    &.plazo{
                        font-size: 16px;
                        padding: 8px 14px;
                    }
                    &.calif{
                        padding: 7px 11px;
                        @include max(850px){
                            padding: 7px 12px;
                        }
                        span{
                            display: block;
                            padding:5px 6px;
                            border:1px solid $aqua;
                            color: $aqua;
                            border-radius: 100%;
                        }
                    }
                    &.faltan{
                        @include min-max(1250px,1200px){
                            display: none; 
                        }
                        @include bp-med {
                            display: none; 
                        }
                        
                    }//faltan
                    &.resta{
                        @include max(920px){
                            display: none; 
                        }
                    }
                }//>li
                &:after{
                    content: '';
                    display: block; 
                    clear: both;
                }
                
            }//ul
            &:hover{
                /*background: #e8efef;*/
                background: #f4fff8;
                border-right: 1px solid #dae0e0;
            }
        }//
        &.prestar{
            max-width: 200px;
            padding: 6px 10px;
            position: relative;
            .form-control{
                padding: 4px 33px 4px 4px;
                margin: 0;
                height: 28px;
                max-height: 40px;
                max-width: 85px;
                &:focus {
                    border-color: $aqua;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,224,11,.075), 0 0 5px rgba(102,175,233,.6);
                    box-shadow: inset 0 1px 1px rgba(0,224,11,.075), 0 0 5px rgba(102,175,233,.6);
                }
            }
            .btn{
                display: none;
                position: absolute;
                top: 7px;
                right: 11px;
                height: 26px;
                width: 32px;
                background:$aqua url(../img/carrito.svg) no-repeat;
                background-size: 24px;
                background-position: center;
                border-top-left-radius: 0; 
                border-bottom-left-radius: 0; 
                -webkit-animation-duration: .5s;
                -moz-animation-duration: .5s;
                animation-duration: .5s;
                border-left: 1px solid $botella-logo;
                &:hover{
                  background-color: $lima-logo;  
                }//hover
            }//btn
        }
        &.porcentaje{
            width: 100%;
            background:#dedede;
            height: 4px;
            .barra{
                width: 40%;
                background:$lima-logo;
                height: 4px;
            }
        }
    }//>li
    &:after{
        content: '';
        display: block; 
        clear: both;
    }
    &:hover{
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    }
}//solicitudes
.pre-carrito{
    @extend .card;
    padding: 0;
    font-size: .9em;
    text-align: center;
        max-width: 340px;
    h2{ 
        font-size: 1.2em;   
        /*margin: -20px -20px 10px -20px;*/
        margin: auto;
        padding: 10px; 
        background: #fafafa;
        font-weight: normal;
        border-bottom: 1px solid #eee;
    }
    .table{ 
        margin: auto;
        tr{
            border-color: #eee;
            &:first-child{
                td{
                    color: #aaa;
                    border: 0;
                }
            }
            td{
                color: #777;
                &:last-child{
                  padding:8px 0;  
                }
            }
            &.tot{
                td{
                   padding: 8px 8px; 
                    font-size: 14px;
                    b{
                        color: $botella-logo;
                    }
                    /*background: #f4fff8;*/
                }
            }
            &:hover{
                .eliminar{
                    opacity: 1;
                }
            }
        }//tr
    }
    .eliminar{
        border: 0;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/tacha.svg);
        opacity: .3;
        
    }
    .btns{
        padding: 0 10px 10px 10px;
        .btn-aqua {
	     padding-left:17px;
            padding-right: 17px;
        }
    }
}//precarrito


//<1250= quitar cuanto faltan y arreglar botones de mini carro
