@import "variables";
@import "mixins";

.table-user {
    >tbody>tr{
        >td{
            border:0;
            border-bottom: 1px solid #ddd;
            vertical-align: middle;
            small{
                color: #999;
                font-size: .8em;
            }
            p{
                font-size: .9em;
            }
            p.c-aqua{
                max-width: 100px;
                
            }
            p.name{
                max-width: 160px;
            }
            &.sxs-hide{
                @include sols-xs{
                    display: none;
                }
            }
            @include sols-xs{
                   border:0;
                }
        }//td
            &.row-users-sxs{
                display: none;
                @include sols-xs{
                   display:table-row;
                    text-align: right;
                    border-bottom: 1px solid #ddd;
                }
            }
        
    }//tr
    margin-bottom: 0;
}//banks
.add-bank{
    width: 100%;
    
    >tbody>tr{
            background: #fafafa;
            display: block;
        >td{
            border: 0;
        }
            select{
                background-color:#fff; padding-right: 30px; 
            }
            @include bp-small{
                display: block;
                td{
                    padding: 10px 20px;
                    display: block;
                    width: 100%;
                }
            }
        }}
.add-edit-ben {
    @extend .clearx;
    background: #fafafa;
	padding: 10px;
    .form-control {
	background-color: #fff;
}
    li{
        margin-bottom: 6px;
    }
}