$lima-logo: #00E00B;
$lima-hover: #00BC00;
$botella-logo: #00AE76;
$botella-claro: #02C17C;
$botella-hover: #009D6F;

//formato
$error: #FC6548;
$danger:#FFBF2E;
$gris-parrafo: #6B6B6B;
//fondos
$aqua: #0ABAB7;
$aqua-hover: #089b99;
$cielo:#02C3D6;
$gris-claro: #f1f1f1;
$gris-medio: #D1D1D1; 
/*$negro-footer: #242424;*/
$negro-footer: #ddd;
$color-footer: #999;
$negro: #1A1A1A; 
$bg-aside:#373a47; 